{% extends "base.html" %}
{% block title %} Afficher les Stocks {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-bordered table-sm">
            {% if data %}
				<thead>
					<tr class="table-info">
						<th class="" >
						  IdStock
						</th>
						<th class="" >
						  Lieu du stock
						</th>
						<th class="align-middle">
							Quantité dans le stock
                        </th>
						<th class="align-middle">
							Pour ajouter
                        </th>
						<th class="align-middle">
							Pour modifier
                        </th>
						<th class="align-middle">
							Pour supprimer
                        </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_stock }}
					  </th>
					  <th class="align-middle">
						{{ row.lieuStock }}
					  </th>
					<th class="align-middle">
						{{ row.quantiteStock }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('stock_update_wtf', id_stock_btn_edit_html=row.id_stock) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun stock.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
