{% extends "base.html" %}
{% block title %} Afficher les Stocks {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-bordered table-sm">
            {% if data %}
				<thead>
					<tr class="table-info">
						<th class="" >
						  IdStock
						</th>
						<th class="" >
						  Lieu du stock
						</th>
						<th class="align-middle">
							Quantité dans le stock
                        </th>
						<th class="align-middle">
							Produit dans le stock
                        </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_stock }}
					  </th>
					  <th class="align-middle">
						{{ row.lieuStock }}
					  </th>
					<th class="align-middle">
						{{ row.quantiteStock }}
					  </th>
					<th class="align-middle">
						{{ row.fk_Produit }}
					  </th>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun stock.
						</td>
						</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
