{% extends "base.html" %}
{% block title %} Afficher les images {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-bordered table-sm">
            {% if data %}
				<thead>
					<tr class="table-info">
						<th class="center-text" >
						  N° de la Categorie
						</th>
						<th class="center-text" >
						  Nom de la Categorie
						</th>
						<th class="center-text" >
						  Description de la Categorie
						</th>
						<th class="center-text" >
						  Image relative à la description
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle center-text">
						  {{ row.id_Categorie }}
					  </th>
					  <th class="align-middle center-text">
						{{ row.nomCategorie }}
					  </th>
					<th class="align-middle center-text">
						{{ row.descCategorie }}
					  </th>
					  <th class="align-middle">
  						<img class="img center-image"" src="{{ row.imagesCategorie }}" style="border: 0; display:block; width:150px; max-height:auto;" alt="Aucune image associée à cette description">
					  </th>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune image disponible.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>

<style>
  .center-text {
    text-align: center;
  }
</style>

<style>
  .center-image {
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}
