<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-dark" />
        <div class="row">
            <div class="col-md-6">Pour me contacter :<span class="small"><br><a href="https://danielpereira.carrd.co" target="_blank" class="text-violet">Informations personnelles.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end text-violet">2023.05.17</div>
        </div>
  </div>
</footer>
<style>
.text-rouge {
  color: red;
}

  .text-violet {
    color: violet; /* Remplacez "violet" par la couleur de votre choix */
  }
</style>
