{% extends "base.html" %}
{% block title %} Stock ETAM {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Bienvenue sur la gestion du Stock interne du Magasin ETAM à Lausanne.
				<br>
				<br>
			</h3>
			<h3>
				Sur ce site vous pourrez : <br>
			</h3>
			<ul>
   				 <li class="list-item">Consulter vos produits.</li>
   				 <li class="list-item">Voir le stock disponible.</li>
   				 <li class="list-item">Connaître le nombre de produit par stock.</li>
				 <li class="list-item">Voir les couleurs disponibles.</li>
				 <li class="list-item">Voir les catégories de produits.</li>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
