{% extends "base.html" %}
{% block title %} Stock ETAM {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				<br>
				<br>
				<em>Bienvenue sur la gestion du Stock interne du Magasin <span class="text-violet">ETAM</span> à Lausanne.</em>
				<br>
				<br>
			</h3>
			<h3>
				<br>
				Sur ce site vous pourrez : <br>
				<br>
			</h3>
			<ul>
   				 <li class="list-item" style="margin-top: 10px;">Consulter vos produits.</li>
   				 <li class="list-item" style="margin-top: 10px;">Voir le stock disponible.</li>
   				 <li class="list-item" style="margin-top: 10px;">Connaître le nombre de produit par stock.</li>
				 <li class="list-item" style="margin-top: 10px;">Voir les couleurs disponibles.</li>
				 <li class="list-item" style="margin-top: 10px;">Voir les catégories de produits.</li>
				<br>
				<br>
				<br>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
