{% extends "base.html" %}
{% block title %} Bonus {% endblock %}
{% block body %}
<!-- Page troll -->
<div style="text-align: center;">
    <br>
    <br>
    <h1 style="font-size: 70px; color: red;">Erreur 404</h1>
    <br>
    <br>
    <p style="font-size: 48px;">La page que vous recherchez n'existe pas.</p>
    <br>
    <p style="font-size: 70px;">Vous allez être redirigé.</p>
    <br>
    <br>
    <br>
</div>


<script>
    setTimeout(function() {
        window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
    }, 3000); // Délai de 3 secondes (3000 millisecondes)
</script>

{% endblock %}
